<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon
          class="sidenav-icon"
          aria-hidden="false"
          aria-label="user icon"
          >list</mat-icon
        >
      </button>
    </p>

    <span>Welcome 'username here'</span>
    <span class="example-spacer"></span>

    <mat-icon class="user-icon" aria-hidden="false" aria-label="user icon"
      >person</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" fullscreen>
    <!--list of stuff goes here-->
    <mat-list>
      <h3 mat-subheader>
        <mat-icon mat-list-icon>cloud</mat-icon> Cloud Storage Services
      </h3>
      <mat-list-item>
        <!--use ngFor here for the different cloud services-->
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>One Drive</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>Google Drive</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>Drop Box</h4>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h3 mat-subheader><mat-icon mat-list-icon>folder</mat-icon>My Folders</h3>
      <!--use ngFor here for the differnt folders created-->
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>Photos Folder</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>Videos Folder</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <h4 mat-line>School Folder</h4>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content
    >Main Content goes here, it always shows
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
