<mat-toolbar color="primary">
  <mat-toolbar-row>
      <p><button mat-button (click)="sidenav.toggle()">    <mat-icon class="user-icon" aria-hidden="false" aria-label="user icon">list</mat-icon>
      </button></p>

    <span>Welcome 'username here'</span>
    <span class="example-spacer"></span>

    <mat-icon class="user-icon" aria-hidden="false" aria-label="user icon">person</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
Sidenav content
</mat-sidenav>
  <mat-sidenav-content>Main Content goes here, it always shows

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
